@using RussoTrip.Helpers
@model Excursion
@{
    ViewData["Title"] = Model.Name; 
}

<div class="album bg-body-tertiary mt-3">
    <div class="container">
        <vc:home-page-navigation />
        <vc:page-title title="@Model.Name" />
        <div class="col d-flex flex-column">
            <div class="d-block ratio ratio-16x9 mb-1">
                <img class="img-fluid object-fit-cover" src="@Model.ImageUrl" alt="@Model.Name" />
            </div>

            <h3 class="card-text fw-bold mb-1">@Helpers.GetLocaleCity(Model.City.Name)</h3>
            <vc:app-markdown markdown="@Model.Markdown"></vc:app-markdown>
            
            <div class="d-flex justify-content-between align-items-center mt-auto">
                <small class="text-body-secondary">@Model.Date.ToString("dd/MM/yyyy")</small>
                <small class="text-body-secondary">@Model.Author</small>
            </div>
        </div>
    </div>
</div>
